			:root {
                --color-bg: #eaeaea;
                --color-bg-nota: hsl(30, 5%, 85%);
                --color-text: rgb(60, 60, 60);
                --color-text-dark: rgb(30, 30, 30);
                --color-text-light: rgba(90, 90, 90, 1);
                --color-border: silver;
                --font-sans: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
                --font-serif: "Noto Serif", Georgia, "Times New Roman", serif;
            }

            *,
            *::before,
            *::after {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            body {
                font-family: var(--font-serif);
                color: var(--color-text);
                background: var(--color-bg);
                margin: 0 auto;
                padding: 1.5rem;
                line-height: 1.6;
                font-size: 1.2rem;
            }

            a {
                color: var(--color-text-dark);
                text-decoration: underline;
                text-decoration-style: dotted;
                text-underline-offset: 3px;
                transition: all ease 0.5s;
            }

            a:hover {
                text-decoration-style: solid;
            }

            p {
                margin-bottom: 1rem;
            }

            em {
                font-weight: 500;
            }

            abbr {
                font-size: 0.85em;
                text-decoration: none;
                cursor: help;
            }

            ul {
                list-style-position: inside;
            }
            ul li {
                margin-bottom: 0.5rem;
            }

            .container {
                margin: 0 auto;
                width: 90%;
                max-width: 700px;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: var(--font-sans);
                line-height: 1.2;
            }

            h1,
            h2,
            h3,
            h4 {
                font-weight: 700;
            }

            h5,
            h6 {
                font-weight: 400;
                text-align: center;
                color: var(--color-text-light);
            }

            h1 {
                font-size: calc(1.5rem + 2vw);
                text-align: center;
                margin-top: 10vh;
            }
            h2 {
                font-size: calc(1.5rem + 1.5vw);
                text-align: center;
                margin-bottom: 5vh;
            }
            h3 {
                font-size: 1.2rem;
                margin: 2rem 0 0.5rem 0;
            }

           h3:last-of-type {
			text-indent: 1.5rem;
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16"><path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/></svg>');
			background-repeat: no-repeat;
			background-size: 1rem 1rem;
			}

            h4 {
                font-size: 1.1rem;
                margin-top: 1.5rem;
            }

            h4:last-of-type {
                text-indent: 1.5rem;
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pie-chart-fill" viewBox="0 0 16 16"><path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778zM8.5.015V7.5h7.485A8 8 0 0 0 8.5.015"/></svg>');
                background-repeat: no-repeat;
                background-size: 0.9rem;
                background-position: 0rem 0.05rem;
            }

            h5 {
                font-size: 0.9rem;
                margin-bottom: 0.5rem;
            }

            h5 a {
                font-weight: 600;
                color: var(--color-text-dark);
                text-decoration: none;
            }

            h5 a:hover {
                text-decoration: underline;
                text-decoration-style: dotted;
            }

            h6 {
                font-size: 0.8rem;
                margin-bottom: 3rem;
            }

            table {
                border-collapse: collapse;
                width: calc(100% + 1.5rem);
                margin: 0 -0.75rem 2.5rem -0.75rem;
                font-family: var(--font-sans);
                font-size: 85%;
                font-weight: 300;
            }

            tr,
            tr:hover {
                transition: background ease 0.4s;
            }

            tbody tr:hover {
                background: rgba(255, 255, 255, 0.5);
            }

            th {
                text-align: left;
                font-family: var(--font-sans);
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 90%;
            }

            th,
            td {
                border-bottom: 1px solid var(--color-border);
                padding: 0.4rem 0.8rem;
            }

            table:not(:last-of-type) th:nth-child(1),
            table:not(:last-of-type) td:nth-child(1) {
                text-align: center;
                padding: 0.4rem 0.2rem;
            }

            table:last-of-type {
                border-top: 1px solid var(--color-border);
            }

            td span {
                font-size: 90%;
                color: rgba(0, 0, 0, 0.5);
            }

            .nota {
                background: var(--color-bg-nota);
                border-left: 3px solid var(--color-border);
                padding: 0.7rem 0.5rem;
                padding-left: 0.75rem;
                font-size: 0.95rem;
                margin: 2rem -0.5rem;
                line-height: 1.3;
            }

            .nota span {
                font-weight: 700;
            }

            dl {
                font-family: var(--font-sans);
                font-size: 80%;
                letter-spacing: 0.025rem;
                margin-bottom: 10vh;
            }

            dl dt {
                font-weight: 700;
            }

            dl dd {
                font-size: 90%;
                color: var(--color-text-light);
                margin-top: 0.25rem;
            }

            dl dd em{
                font-style: normal;
                font-weight: 700;
                color: var(--color-text-light);
            }
			.pictograma {
			display: inline-block;
			width: 1rem;
			height: 1rem;
			margin: 0 0.1rem;
			vertical-align: middle;
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23800080" viewBox="0 0 16 16"><path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/><path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/></svg>');
			background-size: contain;
			background-repeat: no-repeat;
			}
      